* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  background: #f5f5f5;
  width: 100%;
  letter-spacing: 1px;
  user-select: none;
}

.main-container {
  width: 100%;
  /* display: flex;
  justify-content: center;  */
}

.inner-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* flex-wrap: wrap; */
  padding: 20px;
  width: 100%;
  max-width: 1500px;
  /* margin: 0 auto; */
}

.img-container {
  width: 750px;
  height: 350px;
  background-image: url(/images/Col_Mobile.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

.product-container {
  background: linear-gradient(to bottom, #d9cfff, #f6f3ff);
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  width: 750px;
  height: 350px;
}

.product-carousel {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* padding-right: 50%; 👈 key fix */
}

.product-carousel::-webkit-scrollbar {
  display: none;
}

.product-card {
  padding: 16px;
  width: 180px;
  text-align: center;
  flex-shrink: 0;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  scroll-snap-align: center;
  position: relative;
  z-index: 15;
}

.product-card .product-img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  border-radius: 20px;
  border: 4px solid transparent;
  transition: border 0.3s;
}

.product-img.selected {
  border: 4px solid #8a58e5;
  background: #f0f8ff;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #2f1e40;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 10px;
  margin-left: 4px;
}

.title {
  font-size: 10px;
  color: #787777;
  margin-top: 6px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #4e2c80;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.arrow:hover {
  background-color: white;
  color: #4e2c80;
}

.arrow img {
  width: 20px;
  height: 20px;
}

.collection-btn {
  margin-left: auto;
  background-color: #4e2c80;
  color: white;
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: "Playfair Display", serif;
}

/* NEW ARRIVALS COLLECTION CSS */

.new-arrivals-container {
  width: 100%;
  background-image: url(../images/new-arrivals-bg.webp);
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 90px;
  position: relative;
  display: flex;
  justify-content: center;
}

.new-arrivals-container-inner {
  max-width: 1500px;
  width: 100%;
}

.new-arrival-top{
  display: flex;
   gap: 20px
}

.new-item {
  background-color: rgba(255, 255, 255, 0.484);
  display: flex;
  justify-content: top;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 24px;
  color: white;
  font-weight: bold;
}

.cards-container{
  display: flex; 
  justify-content: center; 
  gap: 20px
}

.cards {
  position: relative;
  width: 100%;
  max-width: 550px;
  height: 320px;
  border-radius: 12px;
  border: 10px solid white;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  top: 80px;
}

.mangalsutra {
  background-image: url("/images/mangalsutra.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pendant {
  background-image: url("/images/pendants.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cards .label {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

p {
  color: white;
  font-weight: bold;
  padding-top: 20px;
  letter-spacing: 1px;
  font-size: 16px;
}

/* responsive ness */
@media (max-width: 768px) {
  .inner-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .img-container {
    width: 100%;
    max-width: 800px;
    height: 200px;
    background-position: left;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    position: relative;
    z-index: 10;
  }

  .product-container {
    width: 100%;
    max-width: 100%;
    position: relative;
    bottom: 80px;
    padding: 16px;
  }

  .arrow {
    display: none !important;
  }

  p{
      font-size: 12px;
      font-weight: 500;
  }

  .collection-btn {
    width: 100%;
    display: block;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
  }
  .controls {
    display: flex;
    justify-content: center;
  }

  .new-arrivals-container {
    padding: 40px;
    height: 200px;
  }

  .new-arrival-top{
  display: flex;
   gap: 10px;
   align-items: center;
  
}


  #new-arrivals-heading {
    font-size: 18px;
  }

  .cards-container{
  display: flex; 
  justify-content: center; 
  gap: 10px
}

  .cards {
    /* width: 100%; */
    max-width: 300px;
    min-width: 120px;
    top: 20px;
    height: 250px;
    

  }

  .new-item {
    background-color: rgba(255, 255, 255, 0.263);
    display: flex;
    justify-content: center;
    /* padding: 10px 15px; */
    border-radius: 24px;
    color: white;
    font-weight: bold;
    font-size: 14px;
  }
}
